@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold font-display leading-normal -tracking-[0.01em] dark:text-white;
    }

    h1 {
        @apply text-3xl sm:text-4xl;
    }

    h2 {
        @apply text-2xl sm:text-3xl;
    }

    h3 {
        @apply text-xl;
    }

    h4 {
        @apply text-md;
    }
}
