@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views";

@theme {
    --font-sans: Urbanist, ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-display: Urbanist, ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-body: Inter, ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --breakpoint-sm: 575px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1025px;
    --breakpoint-xl: 1170px;

    --font-size-xxs: 0.75rem;
    --font-size-xs: 0.875rem;
    --font-size-sm: 0.9375rem;
    --font-size-base: 1rem;
    --font-size-md: 1.125rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-size-2xl: 1.75rem;
    --font-size-3xl: 2.125rem;
    --font-size-4xl: 2.5rem;
    --font-size-5xl: 3rem;
    --font-size-6xl: 3.5rem;
    --font-size-7xl: 4rem;

    /* Override green colors */
    --color-green-400: oklch(76.5% 0.177 163.223);
    --color-green-500: oklch(69.6% 0.17 162.48);
    --color-green-600: oklch(59.6% 0.145 163.225);
    --color-green-800: oklch(43.2% 0.095 166.913);
}



@utility container {
    margin-inline: auto;
    padding-inline: 1.5rem;
    max-width: 1200px;
    width: 100%;
}

@layer base {

    [class*="shadow-"] {
        @apply  shadow-slate-900/10;
    }

    [x-cloak] {
        display: none !important;
    }

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-slate-200, currentColor);
    }

    body {
        @apply font-body text-slate-800;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-display font-bold leading-normal -tracking-[0.01em] dark:text-white;
    }

    h1 {
        @apply text-3xl sm:text-4xl;
    }

    h2 {
        @apply text-2xl sm:text-3xl;
    }

    h3 {
        @apply text-xl;
    }

    h4 {
        @apply text-lg;
    }

    button {
        @apply cursor-pointer;
    }
}

/* style filepond */
.filepond--root {
    @apply cursor-pointer border-slate-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md;
}
.filepond--drip,
.filepond--panel-root {
    @apply bg-slate-100  group-hover:bg-slate-200;
}

/* style tom-select to match Tailwind design */
.ts-wrapper.multi .ts-control {
    @apply border-slate-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 rounded-md;
}

.ts-wrapper.single .ts-control {
    @apply border-slate-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 rounded-md;
}

.ts-dropdown {
    @apply border-slate-300 rounded-md shadow-sm;
}

.ts-dropdown .option.active {
    @apply bg-indigo-100 text-indigo-900;
}

.ts-dropdown .option.selected {
    @apply bg-indigo-500 text-white;
}

.ts-wrapper.multi .ts-control [data-value] {
    @apply bg-indigo-100 text-indigo-900 rounded px-2 py-1;
}

.ts-wrapper.multi .ts-control [data-value] .remove {
    @apply border-indigo-300 text-indigo-700 hover:bg-indigo-200;
}
